<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="header">
          <h4 class="title">Users</h4>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">photo</th>
                <th class="text-center">username</th>
                <th class="text-center">name</th>
                <th class="text-center">surname</th>
                <th class="text-center">address</th>
                <th class="text-center">comments</th>
                <th class="text-center">email</th>
                <th class="text-center">tel</th>
                <th class="text-center">created_at</th>
                <th class="text-center">updated_at</th>
                <th class="text-center" *ngIf="hasPermission('users_ban')">ban</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let user of users | async | paginate: { itemsPerPage: size, currentPage: page, totalItems: totalItems }">
                <td class="text-center">{{user.photo}}</td>
                <td class="text-center">{{user.username}}</td>
                <td class="text-center">{{user.name}}</td>
                <td class="text-center">{{user.surname}}</td>
                <td class="text-center">{{user.address}}</td>
                <td class="text-center">
                  <a *ngIf="user.comments?.length > 0" [routerLink]="['/comments', user.username]">show</a>
                </td>
                <td class="text-center">{{user.email}}</td>
                <td class="text-center">{{user.tel}}</td>
                <td class="text-center">
                  {{ user.created_at | date:'dd.MM.yyyy'}}
                  <br />
                  {{ user.created_at | date:'HH:mm'}}
                </td>
                <td class="text-center">
                  {{ user.updated_at | date:'dd.MM.yyyy'}}
                  <br />
                  {{ user.updated_at | date:'HH:mm'}}
                </td>
                <td class="text-center" *ngIf="hasPermission('users_ban')">
                  <label class="toggle-switch">
                    <input type="checkbox" [(ngModel)]="user.ban"
                      (change)="banUser(user.username, user.ban)">
                    <div class="slider"></div>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="showPaging">
          <pagination-controls class="paging" (pageChange)="getUsers($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
