.common-label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    color: #888;
    padding-left: 15px;
}

.new-row {
    margin: 0;
}

.checkbox-label {
    padding-left: 10px;
    font-weight: 400;
}

.languages {
    display: flex;
}

/* ::ng-deep ngb-datepicker-navigation-select select:first-child {
  display: none;
} */
