<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div *ngFor="let vm of validateMessages; let i=index">
            <ngb-alert
              type="danger"
              (closed)="validateMessages.splice(i, 1)">
              {{ vm }}
            </ngb-alert>
          </div>

          <div class="header">
            <h4 class="title">Create page</h4>
          </div>
          <div class="content">
            <!-- <form> -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" placeholder="name"
                    [ngClass]="validateName"
                    [(ngModel)]="name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>founded</label>
                  <input type="text" class="form-control"
                    [ngClass]="validateFounded"
                    placeholder="founded"
                    [(ngModel)]="founded">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>site</label>
                  <input type="text" class="form-control" placeholder="site"
                    [(ngModel)]="site">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>email</label>
                  <input type="text" class="form-control" placeholder="email"
                    [ngClass]="validateEmail"
                    [(ngModel)]="email">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>tel</label>
                  <input type="text" class="form-control" placeholder="tel"
                    [(ngModel)]="tel">
                </div>
              </div>
            </div>

            <!-- <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Country</label>
                    <select name="select" class="form-control" (change)="onChangeCountry($event)">
                      <option *ngFor="let c of countries" [value]="c.id">{{c.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>City</label>
                    <select name="select" class="form-control" (change)="onChangeCity($event)">
                      <option *ngFor="let c of cities" [value]="c.id">{{c.name}}</option>
                    </select>
                  </div>
                </div>
              </div> -->

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control"
                    [ngClass]="validateAddress"
                    placeholder="address" [(ngModel)]="address">
                </div>
              </div>
            </div>

            <!-- <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Base url</label>
                    <input type="text" class="form-control" placeholder="base_url" [(ngModel)]="base_url">
                  </div>
                </div>
              </div> -->

            <!-- <div class="row">
                <label class="common-label">Location (coordinates)</label>
                <div class="form-group">
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="coordinate1" [(ngModel)]="coordinate1">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="coordinate2" [(ngModel)]="coordinate2">
                  </div>
                </div>
              </div> -->

            <!-- <br /> -->

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>org types</label>
                  <ng-select [items]="orgTypes$ | async"
                    bindLabel="name"
                    [multiple]="true"
                    [hideSelected]="true"
                    [trackByFn]="trackByFn"
                    [minTermLength]="3"
                    [loading]="orgTypesLoading"
                    placeholder="Select orgTypes"
                    typeToSearchText="Please enter 3 or more characters"
                    [typeahead]="orgTypeInput$"
                    (change)="onChangeOrgType($event)"
                    [(ngModel)]="selectedOrgTypes"
                    [ngClass]="validateOrgTypes">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6" *ngIf="studyType">
                <div class="form-group">
                  <label>study type</label>
                  <select name="select" class="form-select"
                    (change)="onChangeStudyType($event)">
                    <option *ngFor="let c of studytypes" [value]="c.id">{{c.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Languages</label>
                  <ng-select [items]="languages$ | async"
                    bindLabel="name"
                    [multiple]="true"
                    [hideSelected]="true"
                    [trackByFn]="trackByFn"
                    [minTermLength]="3"
                    [loading]="languagesLoading"
                    placeholder="Select languages"
                    typeToSearchText="Please enter 3 or more characters"
                    [typeahead]="languageInput$"
                    [(ngModel)]="selectedLanguages"
                    [ngClass]="validateLanguages">
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Subjects</label>
                  <ng-select [items]="subjects$ | async"
                    bindLabel="name"
                    [multiple]="true"
                    [hideSelected]="true"
                    [trackByFn]="trackByFn"
                    [minTermLength]="3"
                    [loading]="subjectsLoading"
                    placeholder="Select subjects"
                    typeToSearchText="Please enter 3 or more characters"
                    [typeahead]="subjectInput$"
                    [(ngModel)]="selectedSubjects"
                    [ngClass]="validateSubjects">
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Events</label>
                  <ng-select [items]="events$ | async"
                    bindLabel="name"
                    [multiple]="true"
                    [hideSelected]="true"
                    [trackByFn]="trackByFn"
                    [minTermLength]="3"
                    [loading]="eventsLoading"
                    placeholder="Select events"
                    typeToSearchText="Please enter 3 or more characters"
                    [typeahead]="eventInput$"
                    [(ngModel)]="selectedEvents"
                    [ngClass]="validateEvents">
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Program types</label>
                  <ng-select [items]="programTypes$ | async"
                    bindLabel="name"
                    [multiple]="true"
                    [hideSelected]="true"
                    [trackByFn]="trackByFn"
                    [minTermLength]="3"
                    [loading]="programTypesLoading"
                    placeholder="Select programTypes"
                    typeToSearchText="Please enter 3 or more characters"
                    [typeahead]="programTypeInput$"
                    (change)="onChangeProgram($event)"
                    [ngClass]="validateProgramTypes">
                  </ng-select>
                </div>
              </div>
            </div>

            <div *ngFor="let s of selectedProgramTypes" class="new-page">
              <div class="row">
                <span>{{s.name}}</span>
              </div>
              <div *ngFor="let vpm of getValidationMessages(s.id); let i=index">
                <ngb-alert
                  type="danger"
                  (closed)="removeValidationMessages(i)">
                  {{ vpm }}
                </ngb-alert>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control"
                      [ngClass]="validateParam(s.id, 'price')"
                      placeholder="price"
                      (change)="onChangeProgramParams($event, s.id, 'price')">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Currency</label>
                    <select name="select" class="form-select"
                      (change)="onChangeProgramParams($event, s.id, 'currency')">
                      <option *ngFor="let c of currencies" [value]="c.currency">{{c.original_currency}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Age from</label>
                    <input type="number" class="form-control" placeholder="age"
                      [ngClass]="validateParam(s.id, 'ageFrom')"
                      (change)="onChangeProgramParams($event, s.id, 'ageFrom')">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Age to</label>
                    <input type="number" class="form-control" placeholder="age"
                      [ngClass]="validateParam(s.id, 'ageTo')"
                      (change)="onChangeProgramParams($event, s.id, 'ageTo')">
                  </div>
                </div>
              </div>

              <div *ngFor="let p of getDates(s.id); let i=index">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Documents date</label>
                      <input type="date" class="form-control" placeholder="date"
                        [ngClass]="validateDateParam(s.id, 'documents', i)"
                        (change)="onChangeProgramDateParams($event, s.id, 'documents', i)">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>date from</label>
                      <input type="date" class="form-control" placeholder="date"
                        [ngClass]="validateDateParam(s.id, 'startdate', i)"
                        (change)="onChangeProgramDateParams($event, s.id, 'startdate', i)">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>date to</label>
                      <input type="date" class="form-control" placeholder="date"
                        [ngClass]="validateDateParam(s.id, 'enddate', i)"
                        (change)="onChangeProgramDateParams($event, s.id, 'enddate', i)">
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="form-group"
                      [ngClass]="hideAddButtons(s.id, i)">
                      <button class="btn" (click)="addDates(s.id)">+</button>
                    </div>
                    <div class="form-group"
                      [ngClass]="hideRemoveButtons(s.id, i)">
                      <button class="btn" (click)="removeDates(s.id, i)">&mdash;</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Period</label>
                    <input type="text" class="form-control" placeholder="period"
                      [ngClass]="validateParam(s.id, 'period')"
                      (change)="onChangeProgramParams($event, s.id, 'period')">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Living form</label>
                    <select name="select" class="form-select"
                      (change)="onChangeProgramParams($event, s.id, 'living')">
                      <option *ngFor="let c of livingForms" [value]="c.id">{{c.name}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>admission</label>
                    <textarea rows="5" class="form-control description"
                      placeholder="admission"
                      [ngClass]="validateParam(s.id, 'admission')"
                      (change)="onChangeProgramParams($event, s.id, 'admission')"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>description</label>
                  <textarea rows="5" class="form-control description"
                    placeholder="Here can be your description"
                    [(ngModel)]="description"></textarea>
                </div>
              </div>
            </div>
            <br />

            <button type="button" class="btn btn-info btn-fill pull-right"
              (click)="cancel()">
              Cancel
            </button>
            <button type="button" class="btn btn-info btn-fill pull-right"
              (click)="createPage()">
              Create
            </button>
            <div class="clearfix"></div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
